---
- name: Install cloud-init and guest utils
  vars:
    packages:
      present:
      - cloud-init
      - cloud-guest-utils
  include_role:
    name: install_packages

- name: Enable cloud-init
  become: yes
  service:
    name: '{{ item }}'
    enabled: yes
  with_items:
    - cloud-init-main
    - cloud-final
